---
import "../styles/global.css";
import imageUrl from "../assets/image.png";
---
<div id="topbar" class="flex flex-wrap items-baseline gap-x-2 gap-y-2 mt-4 ml-8">
	<span class="brand tracking-[0.45em] uppercase text-black">p o p s y n</span>
	<span class="text-black">|</span>
	<span class="bg-yellow-200 px-1 text-black">see how it sounds</span>
	<span class="text-black">|</span>
	<a href="https://github.com/scherepi/PopSyn" class="terminal-link">github</a>
  </div>


<div class="px-4 sm:px-8 md:px-8">
  <div class="md:grid md:grid-cols-3 md:gap-6">
    <section class="intro-terminal px-8 py-6 sm:px-8 sm:py-10 md:px-0 md:col-span-1">
     
      <p class="terminal-red mt-3">
        popsyn helps you see, feel and be sound. made by a bunch of teens who care about music, how it makes us feel, and what else we can connect that
      </p>

      <p class="terminal-red mt-3">connect more with your music by making it feel like your own music with colours.</p>
<img src={imageUrl.src} alt="" class=" mt-10">
      <p class="terminal-red text-sm">made with &lt;3 by <a href="https://github.com/XDagging" class="terminal-link">sebastian</a>, <a href="https://github.com/scherepi" class="terminal-link">joaquin</a>, and <a href="https://github.com/v1peridae" class="terminal-link">louisa</a></p>
    </section>

    <div id="search-section" class="mt-6 px-2 font-syne-mono md:mt-0 md:px-0 md:col-span-2 md:col-start-2 md:pl-3 border-image-left ml-1 ">
      <div class="flex items-center justify-center">
        <input id="song-query" type="text" placeholder="name your song" class="border border-black px-2 py-1 ml-auto flex items-center" />
        <button id="search-btn" class="ml-2 px-6 py-1 border mx-42 border-black bg-black text-white">>>></button>
      </div>
      <div id="song-result" class="mt-4 w-full hidden">
          <div id="cover-ph" class="w-40 h-40 bg-gray-200 mr-3 flex-shrink-0"></div>
          <img id="cover" class="w-40 h-40 mr-3 hidden object-cover mt-10"/>

          <div class="flex-1">
            <div id="title" class="font-syne-semibold">—</div>
            <div id="artist" class="text-sm text-gray-600">—</div>
            <div id="color-display" class="w-20 h-20 mt-2 border border-black hidden"></div>
            <div id="why-display" class="mt-2 text-sm hidden"></div>
        </div>
      </div>
     
    </div>
  </div>
</div>
