---
import "../styles/global.css";
---
<div class="flex flex-wrap items-baseline gap-x-2 gap-y-2 mt-4 ml-8">
	<span class="brand tracking-[0.45em] uppercase text-black">p o p s y n</span>
	<span class="text-black">|</span>
	<span class="bg-yellow-200 px-1 text-black">see how it sounds</span>
	<span class="text-black">|</span>
	<a href="https://github.com/scherepi/PopSyn" class="terminal-link">github</a>
	<span class="text-black">|</span>
  </div>

<div class="px-4 sm:px-8 md:px-8">
  <div class="md:grid md:grid-cols-3 md:gap-6">
    <section class="intro-terminal px-4 py-6 sm:px-8 sm:py-10 md:px-0 md:col-span-1">
     
      <p class="terminal-red mt-3">
        popsyn helps you see, feel and be sound. made by a bunch of teens who ???
      </p>
    </section>

    <div class="mt-6 px-2 font-syne-mono md:mt-0 md:px-0 md:col-span-1 md:col-start-3">
      <input type="text" placeholder="name your song" class="border border-black px-2 py-1" />
      <button class="ml-2 px-3 py-1 border border-black bg-black text-white">>>></button>
    </div>
  </div>
</div>